.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imageAndText {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.imageAndText img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 600px;
    max-height: 150px;
    margin-right: 12px;
    position: relative;
    background: #0066CC;
    border-radius: 10px;
    padding: 8px 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color:white;

}

.text:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid #0066CC;
    border-right: 20px solid transparent;
    right: -10px;
    bottom: 0;
    z-index: -1;
}

.name {

}

.messageText {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 5px;
}


.time {
    font-family: 'Montserrat_Bold', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    color: #000000;
    font-size: 11px;
    margin-right: 9px;
    margin-top: 5px;
}