.button {

}

.default {
background-color: #00cc22;
}

.red {
    background-color: #cc0000;
}

.disabled {
    background-color: #00cc22;
}

.secondary {
    background-color: aqua;
}








.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {

}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
